
#logo-img {
    max-width: 250px;
    padding: 20px;
}

#login-input-wrapper {
    border-bottom: 10px solid var(--purple);
}

#login-input-wrapper .btn:hover i {
    color: black;
}

#translation-results {
    border: 3px solid var(--purple);
}