
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Sanchez&display=swap');
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';

:root {
  --yellow: #FFC75F;
  --yellow-dark: #E7B355;
  --purple: #845EC2;
  --light-grey: #EFEFEF;
  --grey: #969696;
}

body {
  font-family: 'Sanchez', serif;
  min-height: 100vh;
  min-width: 350px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Love Ya Like A Sister', cursive;
  margin: 0;
  color: white;
}

.bg-theme {
  background-color: var(--yellow);
}

.border-theme {
  border-color: var(--yellow-dark) !important;
  border-width: 3px !important;
}

.purple-border {
  border-bottom: 10px solid var(--purple);
}

.text-theme {
  color: var(--purple);
}